body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
   margin: 0;
   margin-bottom: 10px;
   background-color: black;
  
}

.game-container {
  display: grid;
  grid-template-columns: repeat(2, 230px);
  grid-gap: 10px;
  background-color: black;
  border-radius: 50%;
  width: 450px; 
  height: 450px; 
  overflow: hidden; 
  cursor: pointer;
}

.button {
  transition: 0.3s ease;
  background-color: white;
  border-radius: 10px;
}

.button:hover {
  box-shadow: inset 0px 0px 0px 3px cyan;
  box-sizing: border-box;
  
}

.button-highlight {
  background-color: white;
  transition: box-shadow 0.5s ease;
  
}


.center {
  background-color: black;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  position: absolute;
  margin-left: 15px;
  margin-bottom: 15px;
  
}

p {
  color: aliceblue;
  text-align: center;
  margin-top: 65px;
}

.startButton {
  position: absolute;
 left: 24px;
 bottom: 18px;
 cursor: pointer;
}

.resetButton {
  position: absolute;
  left: 70px;
  bottom: 18px;
  cursor: pointer;
}

.active {
  background-color: white
  
}


#green {
  background-color: green;
  
 


}

#red {
  background-color: red;

 
  

}

#yellow {
  background-color: yellow;
 

}

#blue {
  background-color: blue;
 

}












