body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
   margin: 0;
   margin-bottom: 10px;
   background-color: #000000;
   animation: pulse 8s infinite;
   
}

@keyframes pulse {
  0% {
    background-color: black;
  }
  50% {
    background-color: #6c9faf; 
  }
  100% {
    background-color: black;
  }
}


.message-container {
  position: absolute;
  top: 82%;
  left: 82%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f6faf7;
  border: 2px solid #333;
  border-radius: 10px;
  display: none;
}

.message-text {
  color: black;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(2, 230px);
  grid-gap: 10px;
  background-color: black;
  border-radius: 50%;
  width: 450px; 
  height: 450px; 
  overflow: hidden; 
  cursor: pointer;
}


.button {
  transition: 0.3s ease;
  background-color: black;
  border-radius: 10px;
}

.button:hover {
  box-shadow: inset 0px 0px 10px 3px cyan;
  box-sizing: border-box;
  
}

.button-highlight {
  background-color: black;
  transition: box-shadow 0.5s ease;
  
}


.center {
  background-color: black;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  position: absolute;
  margin-left: 15px;
  margin-bottom: 15px;
  
}

p {
  color: aliceblue;
  text-align: center;
  margin-top: 50px;
}

.startButton {
  position: absolute;
 left: 24px;
 bottom: 22px;
 cursor: pointer;
 background-color: rgb(173, 197, 193);
}

.resetButton {
  position: absolute;
  left: 70px;
  bottom: 22px;
  cursor: pointer;
  background-color:  rgb(173, 197, 193);;
}

.active {
  /* background-color: white */
  
}


#green {
  background-color: green;
  
 


}

#red {
  background-color: red;

 
  

}

#yellow {
  background-color: yellow;
 

}

#blue {
  background-color: blue;
 

}












